{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# Pour chaque tache dans la liste de toutes les taches #}
        {% for task in tasks %}
        {# pour n'avoir que les tâches du user connecté #}
        {# va voir dans la tables des tâches et toutes les tâches avec le même id User que le User connecté: Tu me les affiches. #}
        {% if app.user.id == task.user.id %}     
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date ? task.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.category }}</td>
                <td>
                <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
                </tr>

        
        {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %}
