{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
<section  style="background-color:#c9c9c9">
    <h1 class="text-center" >Task index</h1>
    <div class="w-75 p-3 m-auto" class="d-flex justify-content-center">
    <table class="table">
        <thead style="color:blue; background-color:grey">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
        {# Pour chaque tache dans la liste de toutes les taches #}
        {% for task in tasks %}
        {# pour n'avoir que les tâches du user connecté #}
        {# va voir dans la tables des tâches et toutes les tâches avec le même id User que le User connecté: Tu me les affiches. #}
        {% if app.user.id == task.user.id %}
            <tr style="background-color:black;color:white" class="w-75 p-3">
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date ? task.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.category }}</td>
                <td>
                <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
        {# Pour ajouter la suppression ici: On utilise un include qui va afficher/faire tout ce qui est dans le form de delete_form.html.twig  #}
                {{ include('task/_delete_form.html.twig') }}
                </td>
                </tr>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="fs-2" href="{{ path('app_task_new') }}">Create new task</a>
    </div>
    <div class="d-flex justify-content-center">
    <img src="https://i2.wp.com/laboiteaunet.fr/wp-content/uploads/2019/10/bulletin-board-3233653_1920.jpg?fit=780%2C483&ssl=1">
    </div>
    </section>
{% endblock %}
