{% extends 'base.html.twig' %}

{% block title %}{{ 'New Task'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new task'|trans }}</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
